@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #EBE3D8;
}

main {
  flex: 1;
  margin-top: 100px;
}

header {
  background-color: #EBE3D8;
  font-family: "Merriweather", serif;
  font-weight: 500;
  display: flex;
}

.navbar {
  position: fixed;
  background-color: #EBE3D8;
  width: 100%;
  top: 0;
}
.navbar li {
  text-decoration: none;
  color: #8B1912;
  font-size: 18px;
  margin: 20px 30px;
}
.navbar li:hover {
  color: #BB868C;
  transition: 0.4s;
}

main {
  flex: 1;
  margin-top: 100px;
}

/*---contacto page---*/
.mb-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
  font-family: poppins, sans-serif;
  font-weight: 400;
  width: 50%;
  margin-top: 50px;
  margin-left: 25%;
}
.mb-3 a {
  text-decoration: none;
  background-color: #8B1912;
  color: #EBE3D8;
  font-family: poppins, sans-serif;
  font-weight: 600;
  font-size: 18px;
  padding: 10px;
  text-align: center;
  border: none;
  border-radius: 10px;
  margin-top: 30px;
  width: 20%;
}
.mb-3 a:hover {
  background-color: #BB868C;
  color: #8B1912;
  transition: 0.4s;
}

.btn-circular {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #8B1912;
  border: none;
  cursor: pointer;
  margin: 60px auto;
  text-decoration: none;
}
.btn-circular .flecha {
  font-size: 24px;
  color: white;
  line-height: 1;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
}
footer p {
  font-weight: 500;
  color: #8B1912;
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 30px;
}
footer a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: auto;
}

/*!---main index---*/
.hero {
  background: url(../img/hero.svg) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 630px;
  margin-top: 5px;
}
.hero h1 {
  font-family: "Merriweather", serif;
  color: #8B1912;
  font-size: 48px;
  padding: 8% 0 0 10%;
}
.hero h1 .light {
  font-weight: 300;
}
.hero h1 .bold {
  font-weight: 700;
}
.hero p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  margin: 3% 0 0 10%;
}
.hero a {
  display: inline-block;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  margin: 3% 0 0 15%;
  padding: 10px 30px;
  border-radius: 10px;
  background-color: #8B1912;
  color: #EBE3D8;
  font-family: "Poppins", sans-serif;
}
.hero a:hover {
  background-color: #BB868C;
  color: #8B1912;
  transition: 0.4s;
}

.sobre-mi {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sobre-mi h2 {
  font-family: "Merriweather", serif;
  font-size: 28px;
  color: #8B1912;
  text-decoration: underline;
  margin-top: 10%;
}
.sobre-mi h2 p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin: 20px 150px;
  width: 60%;
}
.sobre-mi h2 p .bold {
  font-weight: 700;
}

.proyectos {
  font-family: poppins, sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  margin: 50px;
}
.proyectos div img {
  width: 450px;
  height: auto;
  margin-top: 30px;
  align-items: left;
}
.proyectos div article {
  margin-top: 15px;
}
.proyectos div article h3 {
  font-size: 22px;
  margin-top: 0%;
}
.proyectos div article p {
  font-size: 18px;
  margin: 10px 0 20px 0;
}
.proyectos div article a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #8B1912;
  color: #EBE3D8;
}
.proyectos div article a:hover {
  background-color: #BB868C;
  color: #8B1912;
  transition: 0.4s;
}

/* proyectos page */
.page-proyectos h1 {
  font-family: "Merriweather", serif;
  width: 100%;
  height: 100px;
  font-size: 32px;
  font-weight: 700;
  text-decoration: underline;
  color: #8B1912;
  text-align: center;
  margin-top: 12%;
}
.page-proyectos div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 30px;
}
.page-proyectos div img {
  width: 350px;
  height: auto;
  margin-top: 20px;
  align-items: left;
}
.page-proyectos div article {
  font-family: poppins, sans-serif;
  width: 55%;
  align-items: center;
  margin: 15px;
}
.page-proyectos div article h3 {
  font-size: 22px;
}
.page-proyectos div article p {
  font-size: 18px;
  margin: 10px 0 20px 0;
}
.page-proyectos div article a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #8B1912;
  color: #EBE3D8;
}
.page-proyectos div article a:hover {
  background-color: #BB868C;
  color: #8B1912;
  transition: 0.4s;
}

/*---contacto page---*/
.page-contacto h1 {
  font-family: "Merriweather", serif;
  width: 100%;
  height: 100px;
  font-size: 32px;
  font-weight: 700;
  text-decoration: underline;
  color: #8B1912;
  text-align: center;
  margin-top: 6%;
}
.page-contacto h2 {
  font-family: poppins, sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

/*!---sobre mi page---*/
.bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}
.bio p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-top: 30px;
  width: 60%;
}

.definicion-titulo {
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 28px;
  font-weight: 700;
  color: #8B1912;
  margin-top: 15%;
}

/*# sourceMappingURL=estilos.css.map */
