
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    p{
        font-weight: 500;
        color: #8B1912;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        padding: 30px;
    }
    a{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: auto;
    }
}

