

header {
    background-color: #EBE3D8;
    font-family: 'Merriweather', serif;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navbar {
    position: fixed;
    background-color: #EBE3D8 !important;
    flex-wrap: wrap;
    top: 0;
    a{
        text-decoration: none;
        color: #8B1912;
        font-size: 18px;
        margin: 20px 30px;
    &:hover{
        color: #BB868C;
        transition: 0.4s;
    }
    }
    img{
        width: 80px;
        height: auto;
        object-fit: contain;
    }
    }