

main {
    flex: 1;
    margin-top: 100px;
}



.btn-circular{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #8B1912;
    border: none;
    cursor: pointer;
    margin: 60px auto;
    text-decoration: none;
        .flecha{
            font-size: 24px;
            color: white;
            line-height: 1;
        }
}