* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #EBE3D8;
    overflow-x: hidden;
}

main {
        flex: 1;
        margin-top: 100px;
}

.grid-item {
    width: 80%;
    height: 100%;
}

.proyecto-1 {
    grid-column: span 3;
    margin-left: 60px
}

.proyecto-2 {
    grid-column: span 1;
    margin-left: 60px
}

.proyecto-3 {
    grid-column: span 1;
    margin-left: 60px
}

.proyecto-4 {
    grid-column: 1;
    grid-row: 5;
    margin-left: 60px;
}

.cv-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    margin: 10%;
    height: 250px;
}

.experiencia {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
}

.formacion {
    grid-column: 1;
    grid-row: 1;
}

.hard-skills {
    grid-column: 1;
    grid-row: 2;

}

.idiomas {
    grid-column: 1;
    grid-row: 4;
}

.cv-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 730px;
    object-fit: cover;
    z-index: -1;
}

